# Ignoring files created by testing with ./test/test-functions.sh
.platformsh-recipes.hash*

# Ignoring a bunch of stuff present for testing with ./test/test-functions.sh
/.cache
/composer*
/vendor
/.editorconfig
/.gitattributes
/cachethis
/web
/tmp
/tmp-for-test
/php.access.log
